@font-face { 
  font-family: Droid Sans; 
    src: url('../fonts/DroidSans-webfont.eot'); 
    src: local("Droid Sans"), url('../fonts/DroidSans-webfont.woff'); 
} 

@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .80em 'Droid Sans', arial, sans-serif;
  background: #F9F9F9;
  color: #444;
}

p { 
  padding: 0 0 16px 0;
  line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% 'News Cycle', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #222;
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #555;
  padding: 0 0 5px 0;
  font: normal 120% 'Droid Sans', arial, sans-serif;
}

h5, h6 { 
  color: #999;
  font: italic 100% 'Droid Sans', arial;
  padding: 0 0 15px 0;
}

h6 { 
  font: normal 100% 'Droid Sans', arial;
}

a, a:hover { 
  outline: none;
  text-decoration: underline;
  color: #787888;
}

a:hover { 
  text-decoration: none;
}

blockquote { 
  margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, #container, #logo, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  background: #EEEEEE url(../images/light.png);
}


header { 
  background: #444 url(../images/images.png) no-repeat;
  height: 200px;
}

#logo { 
  width: 1000px;
  height: 180px;
  background: transparent;
  color: #888;
  padding: 20px 0 0 0;  
}

#logo #logo_text { 
  width: 330px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border: 7px;
  background: transparent url(../images/menubar.png);
  left: 0;
  padding: 10px 20px 20px 20px;
}

#logo h1, #logo h2 { 
  font: normal 250% 'News Cycle', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #BBB;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font-size: 140%;
  padding: 0 0 0 0;
  color: #FFF;
}

nav { 
  height: 44px;
  margin: -44px auto 0 auto;
  color: #fef4e9;
  background: transparent url(../images/menubar.png);
} 

#menu_container { 
  width: 1000px;
  margin: 0 auto 0 auto;
}

#site_content { 
  width: 1200px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 15px 0 25px 0;
  text-shadow: 0 1px #FFF;
  background-image: url(../images/sfondo.jpg);
} 

#sidebar_container { 
  float: left;
  width: 234px;
  margin-top: 20px;
}
#sidebar_container2 { 
  float: right;
  width: 234px;
  margin-top: 20px;
}

.sidebar { 
  width: 200px;
  margin: 0 0 16px 0;
  background: #ddd; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#fff, #ddd);
  background: -o-linear-gradient(#fff, #ddd);
  background: -webkit-linear-gradient(#fff, #ddd);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #5c7c95;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  padding: 0 15px 5px 13px;
}
  
.sidebar h3, .content h1 { 
  padding: 0 15px 20px 0;
  font: 200% 'News Cycle', arial, sans-serif;
  text-shadow:  #FFF 0 1px;
  margin: 0 1px;
}

.sidebar h3 { 
  padding: 4px 15px 9px 0;
  font: 200% 'News Cycle', arial, sans-serif;
  color: blue;
}

.sidebar ul { 
  margin: 0 0 15px 0;
} 

.sidebar li a, .sidebar li a:hover { 
  color: #555;
  text-decoration: none;
} 

.sidebar li a:hover { 
  text-decoration: underline;
} 

.sidebar_item, .content_item { 
  padding: 15px 0;
}

.content { 
  text-align: left;
  width: 650px;
  margin: 0 0 15px 48px;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}

footer { 
  font: 100% 'Droid Sans', arial, sans-serif;
  height: 125px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #222;
  color: #FFF;
  margin: 0;
  border-top: 6px solid #505050;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #FFF;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: underline;
}

#logout_button .submit{
    font: 100% 'Droid Sans', arial;
    border: 0;
    width: 69px;
    margin: 10px 65px 10px 65px;
    height: 30px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #555555;
    color: #FFF;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border: 7px 7px 7px 7px;
}

.login_form span { 
  float: left; 
  width: 200px; 
  text-align: left;
}

.login_form input, .login_form textarea { 
  padding: 5px;
    margin: 0 0 5px; 
  width: 190px; 
  font: 90% 'Droid Sans', arial; 
  border: 2px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}

.login_form .submit { 
  font: 100% 'Droid Sans', arial; 
  border: 0; 
  width: 99px; 
  margin: 10px 12px 10px 0; 
  height: 30px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #555555; 
  color: #FFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}

.login_form .checkbox { 
  margin: 4px 5px 0 0px; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.form_settings { 
  margin: 15px 0 0 0;
}

.form_settings p { 
  padding: 0 0 4px 0;
}

.form_settings span { 
  float: left; 
  width: 200px; 
  text-align: left;
}
  
.form_settings input, .form_settings textarea { 
  padding: 5px; 
  width: 150px;
  font: 80% 'Droid Sans', arial;
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}
  
.form_settings .submit { 
  font: 100% 'Droid Sans', arial;
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #222; 
  color: #FFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
}

.form_settings textarea, .form_settings select { 
  font: 80% 'Droid Sans', arial;
  width: 299px;
}

.form_settings select { 
  width: 150px;
}

.form_settings .checkbox { 
  margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;
}

.form_settings .Valutabudget{
    padding: 5px;
    width: 150px;
    font: 80% 'Droid Sans', arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border: 7px 7px 7px 7px;
}

.separator { 
  width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;
}
  
table { 
  margin: 10px 0 30px 0;
}

table tr th, table tr td { 
  background: #555;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;
  text-shadow: none;
}
  
table tr td { 
  background: #DDD;
  color: #47433F;
  border-top: 1px solid #FFF;
}

/* scroll to top */
#scroll { 
  position: relative; 
  width: 1000px;
  margin: 0 auto;
  bottom: 15px; 
  right: 0;
  background: red;
  padding: 0;
}
  
#scroll a { 
  float: right;
  margin: 0 0 0 0; 
  padding: 0 0 0 0;
}
  
#scroll a img { 
  float: right;
  padding: 0 0 0 0;
  margin: 0;
}





/**
Stylesheet for SooperFish by www.SooperThemes.com
Author: Jurriaan Roelofs
**/

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 220px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 220px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 10;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: right;
}

ul#nav ul { 
  background: #505050;
  margin-top: 5px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding:5px 20px 6px 20px;
  font: 150% 'News Cycle', arial, sans-serif;
  text-shadow: 1px 1px #7E4D0E;
  text-decoration: none;
  color:#FFF;
  margin-right: 2px;
}

ul#nav li a:hover,ul#nav li a:focus { 
  color: #FFF;
  text-decoration: underline;
}

.error {color: red;}

.ui-autocomplete-loading {
background: white url('../images/ui-anim_basic_16x16.gif') right center no-repeat;
}

.button-luogo-dettaglio-viaggio{
    float: right;
}

#risposta-panoramica table {
    margin: 0px 0 0px 0;
    background: none;
    color: #C6E746;
}
#risposta-panoramica table tr td{
    background: none;
    border-top: none;
    color: #C6E746;
}
#risposta-panoramica table img{
    float: right;
    margin: 0 10px;
    width: 30px;
}

#risposta-panoramica h6 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 85% 'Droid Sans', arial;
}
#risposta-panoramica .luoghi-panoramica-int h5 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 100% 'Droid Sans', arial;
}
#risposta-panoramica .citta-panoramica-int h5 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 100% 'Droid Sans', arial;
}
#risposta-dettaglio h6 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 88% 'Droid Sans', arial;
}
#risposta-dettaglio .luoghi-panoramica-int h5 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 88% 'Droid Sans', arial;
}

#risposta-dettaglio .citta-panoramica-int h5 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 88% 'Droid Sans', arial;
}

#risposta-dettaglio table {
    margin: 0px 0 0px 0;
    background: none;
    color: #C6E746;
}
#risposta-dettaglio table tr td{
    background: none;
    border-top: none;
    color: #C6E746;
}
#risposta-dettaglio table img{
    float: right;
    margin: 0 10px;
    width: 30px;
}


#risposta-commento h6 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 88% 'Droid Sans', arial;
}
#risposta-commento .commento-int h5 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 88% 'Droid Sans', arial;
}

#risposta-commento table {
    margin: 0px 0 0px 0;
    background: none;
    color: #C6E746;
}
#risposta-commento table tr td{
    background: none;
    border-top: none;
    color: #C6E746;
}

.commento-int #immagine_luogo
{
    width: 250px;
    float: left;
}

#risposta-profilo h6 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 88% 'Droid Sans', arial;
}
#risposta-profilo .profilo-int h5 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 2px 0;
    font: normal 88% 'Droid Sans', arial;
}

#risposta-profilo table {
    margin: 0px 0 0px 0;
    background: none;
    color: #C6E746;
}
#risposta-profilo table tr td{
    background: none;
    border-top: none;
    color: #C6E746;
}

#risposta-commento table img{
    float: right;
    margin: 0 10px;
    width: 30px;
}

#barraricerca fieldset {
    width: 385px;
    height: 36px;
    border: 1px solid #d3d3d3;
    margin: 100px 0px 0 80px;
    font: 110% 'Droid Sans', arial;
    background-color: white;
    padding: 2px 2px 2px 2px;
}

#barraricerca input {
    width: 312px;
    height: 36px;
    border: none;
    border-right: solid 1px #d3d3d3;
    font: 110% 'Droid Sans', arial;
}

#barraricerca #buttonsearch {
    paddin: 0 10px 0 7px;
    width: auto;
    height: 30px;
    margin-top: -3px;
    border: none;
    background: white;
    margin-left: 6px;
    margin-right: 0px;
    zoom: normal;
}

#barraricerca #buttonsearch:hover,
#barraricerca #buttonsearch:active,
#barraricerca #buttoncleart:hover,
#barraricerca #buttonclear:active
{
    cursor: pointer;
    opacity: 1;
}

#barraricerca #buttonclear {
    margin-top: -4px;
    height: 25px;
    width: 25px;
    background: white;
    border-color: white;
    margin-left: 8px;
}

.ricerca-navigazione1{
    margin-left: 41%;
}

.ricerca-navigazione2{
    margin-left: 41%;
}

.ricerca-navigazione3{
    margin-left: 41%;
}

.ricerca-navigazione4{
    margin-left: 41%;
}

#risposta-panoramica{
    margin-top: -30px;
}

#risposta-dettaglio{
    margin-top: -30px;
}

#risposta-commento{
    margin-top: -30px;
}

.commenti-utenti {
    border: 1px solid;
    border-color: darkgrey;
    border-style: dotted;
    background-color: whitesmoke;
    border-radius: 4px;
    text-align: left;
    word-wrap: break-word;
    padding: 5px 5px 5px 5px;
}

.commenti-utenti h4 {
    color: #212121;
    font: normal 100% 'Droid Sans', arial;
    margin-left: 10px;
    margin-right: 10px;
}

.commenti-utenti h6 {
    margin-left: 5px;
}

.commenti-utenti h5 {
    margin-right: 10px;
    margin-top: 5px;
    text-align: right;
}

.inserimento-commento textarea {
    width: 350px;
    height: 100px;
}

#tab-citta button{
    width: 100%;
    text-align: left;
}

#tab-citta h6 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 0 0;
    font: normal 64% 'Droid Sans', arial;
    float: left;
    margin-top: 5px;
}

#tab-luogo button{
    width: 100%;
    text-align: left;
}

#tab-luogo h6 {
    color: #555;
    letter-spacing: 0em;
    padding: 0 0 0 0;
    font: normal 64% 'Droid Sans', arial;
    float: left;
    margin-top: 5px;
}


/*css per tpl registrazione e validazione*/




/*css per tpl registrazione e validazione*/




#form_register
{
    text-align: left;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1.5em 1.5em 1.5em;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(#FFFFFF, #DDDDDD);
}

#form_register fieldset
{
    border: none;
}

#form_register legend
{
    text-align: left;
    display: block;
    font-size: 25px;
    padding: 10px;
    width: 470px;
    margin-left: 5px;
}

#form_register label
{
    text-align: left;
    color: blue;
    padding: 0px;
    display: block;
    font-size: 0.9em;
    margin: 27px 0px 0px 0px;
}

/*LABEL GENERATO DA VALIDATE*/
#form_register label.error
{
    color: #f33;
    padding: 0;
    margin: 2px 0 0 0;
    font-size: 0.8em;
    padding-left: 18px;
    background-image: url('../images/error.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}

/*imput text e password*/
#form_register #reg_user, #form_register #reg_cognome, #form_register #reg_nome, #form_register #reg_citta, #form_register #reg_nazione, #form_register #reg_email, #form_register #reg_pass1, {
    height: 30px;
    width: 200px;
    display: block;
    border: none;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

/*imput type submit e reset*/
#form_register #reg_submit, 	#form_register #reg_reset
{
    height: 30px;
    width: 220px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}

#form_register #reg_submit{background: #0a0; margin-top: 40px;}
#form_register #reg_reset{background: #f33; margin-top: 20px;}

#form_register #reg_submit:hover,
#form_register #reg_submit:active,
#form_register #reg_reset:hover,
#form_register #reg_reset:active
{
    cursor: pointer;
    opacity: 1;
}

#form_register div.error
{
    text-align: left;
    color: red;
}

#form_register H4
{
    text-align: left;
    display: block;
    font-size: 25px;
    padding: 10px;
    color: blue;
}

#form_register h2
{
    text-align: left;
    font-size: 12px;
    color:blue;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#form_register h3
{
    text-align: left;
    font-size: 15px;
}




/*CSS PER PASSWORD DIMENTICATA*/

#password_dimenticata h3
{
   color: blue;
}




/*css per tpl viaggio, citta, luogo, commento*/




#form_journey,#form_journey_bis
{
    text-align: left;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 590px;
    padding: 0 4em 1.5em 1.5em;
    margin-left: 25px;
    margin-top: 22px;
    overflow: hidden;
    background: linear-gradient(#FFFFFF, #DDDDDD);
}

#form_journey fieldset    /*non lo prende*/
{
    text-align: left;
    font-size: 0.9em;
    padding: 10px;
    margin-left: 0px;
    color: red;
    width: 280px;

}

#form_journey legend
{
    text-align: left;
    display: block;
    font-size: 17px;
    padding: 14px;
    color: blue;
    margin-left: 0px;
    width: 500px;
}


#form_journey #date
{
    text-align: left;
    display: block;
    font-size: 17px;
    padding: 14px;
    color: blue;
    margin-left: 0px;
    width: 80px;
}

#form_journey label
{
    text-align: left;
    color: blue;
    padding: 0px;
    display: block;
    font-size: 0.9em;
    margin: 27px 0px 0px 0px;

}

/*LABEL GENERATO DA VALIDATE*/

#form_journey label.error
{
    color: #f33;
    padding: 0;
    margin: 2px 0 0 0;
    font-size: 0.8em;
    padding-left: 18px;
    background-image: url('../images/error.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}


#form_journey #datainizio, #form_journey #datafine, #form_journey #costotrasporto, #form_journey #budget, #form_journey #citta, #form_journey #stato, #form_journey #alloggio, #form_journey #costo, #form_journey #nome, #form_journey #sitoweb, #form_journey #costobiglietto, #form_journey #guida, #form_journey #durata, #form_journey #percorso,#form_journey #costoalloggio
{
    height: 30px;
    width: 200px;
    display: block;
    border: none;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

#form_journey #commentolibero
{
    height: 200px;
    width: 400px;
    display: block;
    border: none;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

/*imput type submit, salta e reset*/
#form_journey #j_submit, #form_journey #j_reset, #form_journey #j_salta
{
    height: 30px;
    width: 220px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}

#form_journey #j_submit{background: #0a0; margin-top: 40px;}
#form_journey #j_reset{background: #f33; margin-top: 20px;}
#form_journey #j_salta{background: #f33; margin-top: 20px;}

#form_journey #j_submit:hover,
#form_journey #j_submit:active,
#form_journey #j_reset:hover,
#form_journey #j_reset:active,
#form_journey #j_salta:hover,
#form_journey #j_salta:active
{
    cursor: pointer;
    opacity: 2;
}

#form_journey_err div.error
{
    text-align: left;
    color: red;
}

#form_journey H4
{
    text-align: left;
    display: block;
    font-size: 25px;
    padding: 10px;
    color: blue;
}

#form_journey h2
{
    text-align: left;
    font-size: 12px;
    color:blue;
    padding: 0px;
    margin: 20px 0px 0px 0px;
}

#form_journey H3
{
    color:blue;
}

#form_journey a
{
    color:red;
}

#form_journey table
{
    margin: 28 0 30px 0;
    text-shadow: 0 1px #FFFFFF;
    opacity:50;
}

#form_journey table tr td
{
    border-top: 0px solid #FFF;
    background-color:transparent;
    opacity:50;
}

#form_journey div #modifica
{
    color:red;
    text-align: right;
    margin-right:5px;

}

#form_journey div .modifica
{
    color:red;
    text-align: right;
}

#form_journey #immagine_luogo
{
    width: 200px;
}



/*CSS PER VIAGGI, CITTA, LUOGHI...*/



div #campo_obbligatorio
{
    text-align: left;
    font-size: 15px;
}



/*CSS PER PROFILO*/

.profilo
{
    text-align: left;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 590px;
    margin-left: 0px;
    margin-top: 0px;
    width: 550px;
    padding: 0 4em 1.5em 1.5em;
    overflow: hidden;
    background: linear-gradient(#FFFFFF, #DDDDDD);
}

.profilo fieldset
{
    text-align: left;
    display: block;
    font-size: 0.9em;
    padding: 2px;
    margin-right: 250px;
    margin-left: 0px;
    color: blue;
}

.profilo legend
{
    text-align: left;
    display: block;
    font-size: 17px;
    padding: 14px;
    color: blue;
}

.profilo label
{
    text-align: left;
    color: blue;
    padding: 0px;
    display: block;
    font-size: 0.9em;
    margin: 27px 0px 0px 0px;

}

/*LABEL GENERATO DA VALIDATE*/

.profilo label.error
{
    color: #f33;
    padding: 0;
    margin: 2px 0 0 0;
    font-size: 0.8em;
    padding-left: 18px;
    background-image: url('../images/error.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}


.profilo #lavoro, .profilo #citta, .profilo #data, .profilo #sesso, .profilo #telefono, .profilo #mail, .profilo #nome, .profilo #nazione, .profilo #cognome, .profilo #username
{
    height: 30px;
    width: 200px;
    display: block;
    border: none;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}


/*imput type submit, salta e reset*/
.profilo #j_submit, #profilo #j_reset, #profilo #j_salta
{
    height: 30px;
    width: 220px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}

.profilo #j_submit{background: #0a0; margin-top: 40px;}
.profilo #modifica_nome{background: #f33; margin-top: 20px;}
.profilo #modifica_cognome{background: #f33; margin-top: 20px;}
.profilo #modifica_nazione{background: #f33; margin-top: 20px;}
.profilo #modifica_residenza{background: #f33; margin-top: 20px;}
.profilo #modifica_lavoro{background: #f33; margin-top: 20px;}
.profilo #modifica_sesso{background: #f33; margin-top: 20px;}
.profilo #modifica_telefono{background: #f33; margin-top: 20px;}
.profilo #modifica_data{background: #f33; margin-top: 20px;}
.profilo #modifica_mail{background: #f33; margin-top: 20px;}
.profilo #salva_nome{background: #0a0; margin-top: 40px;}
.profilo #salva_cognome{background: #0a0; margin-top: 40px;}
.profilo #salva_lavoro{background: #0a0; margin-top: 40px;}
.profilo #salva_nazione{background: #0a0; margin-top: 40px;}
.profilo #salva_residenza{background: #0a0; margin-top: 40px;}
.profilo #salva_mail{background: #0a0; margin-top: 40px;}
.profilo #salva_sesso{background: #0a0; margin-top: 40px;}
.profilo #salva_data_nascita{background: #0a0; margin-top: 40px;}
.profilo #salva_telefono{background: #0a0; margin-top: 40px;}

.profilo #j_submit:hover,
.profilo #j_submit:active,
.profilo #modifica_nome:hover,
.profilo #modifica_nome:active,
.profilo #modifica_cognome:hover,
.profilo #modifica_cognome:active,
.profilo #modifica_lavoro:hover,
.profilo #modifica_lavoro:active,
.profilo #modifica_residenza:hover,
.profilo #modifica_residenza:active,
.profilo #modifica_nazione:hover,
.profilo #modifica_nazione:active,
.profilo #modifica_mail:hover,
.profilo #modifica_mail:active,
.profilo #modifica_sesso:hover,
.profilo #modifica_sesso:active,
.profilo #modifica_telefono:hover,
.profilo #modifica_telefono:active,
.profilo #modifica_data:hover,
.profilo #modifica_data:active,
.profilo #salva_nome:hover,
.profilo #salva_nome:active,
.profilo #salva_cognome:hover,
.profilo #salva_cognome:active,
.profilo #salva_lavoro:hover,
.profilo #salva_lavoro:active,
.profilo #salva_residenza:hover,
.profilo #salva_residenza:active,
.profilo #salva_nazione:hover,
.profilo #salva_nazione:active,
.profilo #salva_mail:hover,
.profilo #salva_mail:active,
.profilo #salva_sesso:hover,
.profilo #salva_sesso:active,
.profilo #salva_telefono:hover,
.profilo #salva_telefono:active,
.profilo #salva_data_nascita:hover,
.profilo #salva_data_nascita:active
{
    cursor: pointer;
    opacity: 2;
}

.profilo div.error
{
    text-align: left;
    color: red;
}

.profilo #modifica_nome, #modifica_cognome, #modifica_sesso, #modifica_lavoro, #modifica_nazione, #modifica_residenza, #modifica_data_nascita, #modifica_mail, #modifica_telefono
{
    margin-right: 250px;
    margin-left: 250px;
    color: red;
    font-size: 12px;
}

.profilo #img
{
    margin-right: 250px;
    margin-left: 250px;
}

.profilo #modifica_nome, #modifica_cognome, #modifica_sesso, #modifica_lavoro, #modifica_nazione, #modifica_residenza, #modifica_data, #modifica_mail, #modifica_telefono

{
    margin-left: 250px;
    height: 25px;
    width: 70px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}

.profilo #salva_nome, #salva_cognome, #salva_sesso, #salva_lavoro, #salva_nazione, #salva_residenza, #salva_data_nascita, #salva_mail, #salva_telefono
{
    margin-left: 250px;
    height: 25px;
    width: 70px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}




/*CSS PER pre_profilo*/



.pre_profilo #foto
{
    border: 5px solid #E5E5DB;
    margin-right: 20px;
    margin-left: 5px;
}

.pre_profilo #nome
{
    margin-right: 20px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 1.4em;
    color: blue;
}




/*CSS PER foto profilo*/




.foto_profilo
{
    text-align: left;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4em 1.5em 1.5em;
    margin: 0 auto;
    overflow: hidden;
}

.foto_profilo fieldset
{
    text-align: left;
    display: block;
    font-size: 0.9em;
    padding: 2px;
    margin-right: 250px;
    margin-left: 0px;
    color: blue;
}

.foto_profilo legend
{
    text-align: left;
    display: block;
    font-size: 17px;
    padding: 14px;
    color: blue;
}

.foto_profilo label
{
    text-align: left;
    color: blue;
    padding: 0px;
    display: block;
    font-size: 0.9em;
    margin: 27px 0px 0px 0px;

}

/*LABEL GENERATO DA VALIDATE*/

.foto_profilo label.error
{
    color: #f33;
    padding: 0;
    margin: 2px 0 0 0;
    font-size: 0.8em;
    padding-left: 18px;
    background-image: url('../images/error.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}


.foto_profilo #carica{background: #0a0; margin-top: 40px;}


.foto_profilo #carica:hover,
.foto_profilo #carica:active
{
    cursor: pointer;
    opacity: 2;
}

.foto_profilo div.error
{
    text-align: left;
    color: red;
}

.foto_profilo #carica
{
    margin-left: 250px;
    height: 25px;
    width: 70px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}

.foto_profilo #foto_profilo
{
    width: 200px;
}



/*CSS PER GALLERIA PROFILO*/



.galleria_profilo
{
    text-align: left;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    width: 530px;
    padding: 0 4em 1.5em 1.5em;
    margin-left: 0;
    overflow: hidden;
}

.galleria_profilo fieldset
{
    text-align: left;
    display: block;
    font-size: 0.9em;
    padding: 2px;
    margin-right: 250px;
    margin-left: 0px;
    color: blue;
}

.galleria_profilo legend
{
    text-align: left;
    display: block;
    font-size: 17px;
    padding: 14px;
    color: blue;
}

.galleria_profilo label
{
    text-align: left;
    color: blue;
    padding: 0px;
    display: block;
    font-size: 0.9em;
    margin: 27px 0px 0px 0px;

}

.galleria_profilo div.error
{
    text-align: left;
    color: red;
}

.galleria_profilo #modifica
{
    margin-right: 250px;
    margin-left: 250px;
    color: red;
    font-size: 12px;
}

.galleria_profilo #img
{
    margin-right: 250px;
    margin-left: 250px;
}

.galleria_profilo table tr td
{
    border-top: 0px solid #FFF;
    background-color:transparent;
    opacity:50;
}

.galleria_profilo h5
{
    color: red;
}

.galleria_profilo #carica_galleria{background: #0a0; margin-top: 40px;}
.galleria_profilo #cancella_galleria{background: #0a0; margin-top: 40px;}


.galleria_profilo #carica_galleria:hover,
.galleria_profilo #carica_galleria:active,
.galleria_profilo #cancella_galleria:hover,
.galleria_profilo #cancella_galleria:active
{
    cursor: pointer;
    opacity: 2;
}


.galleria_profilo #carica_galleria
{
    margin-left: 250px;
    height: 25px;
    width: 70px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}

.galleria_profilo #cancella_galleria
{
    margin-left: 250px;
    height: 25px;
    width: 100px;
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    border: 1px solid #999;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .6);
    -webkit-appearance: none;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    display: block;
}

.galleria_profilo #immagine
{
    width: 200px;
}



/*CSS PER AMMINISTRATORE*/



#administrator, #administrator_modifiche
{
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-top: 12px;
    background: linear-gradient(#FFFFFF, #DDDDDD);
    padding: 5px 5px 5px 5px;
    width: 660px;
}

#administrator_mod, #administrator_modifiche
{
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    border-top: 12px;
    background: linear-gradient(#FFFFFF, #DDDDDD);
    padding: 10px 10px 10px 10px;
    width: 660px;
}

#administrator_mod label, #administrator_modifiche label
{
    text-align: left;
    color: blue;
    padding: 0px;
    display: block;
    font-size: 0.9em;
    margin: 20px 0px 0px 0px;

}

#administrator_mod #adm_user,
#administrator_mod #adm_nome,
#administrator_mod #adm_cognome,
#administrator_mod #adm_citta,
#administrator_mod #adm_nazione,
#administrator_mod #adm_citta,
#administrator_mod #adm_email,
#administrator_mod #adm_codattivazione,
#administrator_mod #adm_password,
#administrator_mod #adm_lavoro,
#administrator_mod #adm_telefono,
#administrator_mod #adm_sesso,
#administrator_mod #adm_avvertimenti,
#administrator_modifiche #adm_user,
#administrator_modifiche #adm_nome,
#administrator_modifiche #adm_cognome,
#administrator_modifiche #adm_citta,
#administrator_modifiche #adm_nazione,
#administrator_modifiche #adm_citta,
#administrator_modifiche #adm_email,
#administrator_modifiche #adm_codattivazione,
#administrator_modifiche #adm_password,
#administrator_modifiche #adm_lavoro,
#administrator_modifiche #adm_telefono,
#administrator_modifiche #adm_sesso,
#administrator_modifiche #adm_avvertimenti
{
    height: 30px;
    width: 200px;
    display: block;
    border: none;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

#administrator_mod fieldset
{
    border: none;
}

#administrator table tr td
{
    margin-left:0px;
    border-top: 0px solid #FFF;
    background-color:transparent;

}

#administrator h3
{
    margin-left: 15px;
    color:blue;
}

#administrator #numeroavvertimenti
{
    width: 80px;
    text-align: center;

}


/*CSS PER LA PAGINA NO SCRIPT*/


#noscript
{
    height: 300px;
}

#noscript a
{
    font-size: 25px;
    color: #2b81af;
    padding-left: 300px;
}


/*CSS PER FEEDBACK*/


.feedback-citta {
    float: right;
}

.dettaglio-viaggio-ext .feedback-citta {
    float: left;
}

.dettaglio-viaggio-ext .feedback-luogo {
    float: left;
}

.commento-ext .feedback-luogo {
    float: left;
}

.feedback-citta .ratingbar_inner{
    background-color: deepskyblue;
}

.feedback-luogo {
    float: right;
}

.feedback-luogo .ratingbar_inner{
    background-color: limegreen;
}

.feedback-citta-laterale {
    float: right;
    margin: 0 0 4px 0;
}

.feedback-citta-laterale .ratingbar_inner{
    background-color: deepskyblue;
}

.feedback-luogo-laterale {
    float: right;
    margin: 0 0 4px 0;
}

.feedback-luogo-laterale .ratingbar_inner{
    background-color: limegreen;
}

.avvertimento{}
.elimina{}
.elimina-segnalazione{color: red;}
.elimina-viaggio{color: red;}
.elimina-citta{color: red;}
.elimina-luogo{color: red;}
.elimina-commento{color:red;}
.elimina-utente{color: red;}
.gestisci-utente{}
.salva-modifiche{display: none;}
.salva_modifiche{color: red;}
.salva{color: red;}
.redirect{color:red;}
.redirect-segnalazione{color:red;}
.redirect-utenti{color:red;}
.annulla{display: none;}


.status {
    margin-left: 5px;
}


#risposta-commento table tr td fieldset {
    border: 1px dotted #A9A9A9;
    border-radius: 4px;
    text-align: left;
    width: 565px;
    height: auto;
    padding: 8px 8px 8px 8px;

}

#SegnalazioneViaggio textarea , .SegnalazioneCitta textarea , #SegnalazioneLuogo textarea , .SegnalazioneCommento textarea
{
    height: 184px;
    width: 320px;
}

.ui-button .ui-icon.ui-icon-squaresmall-close {
    transform:scale(2,2);
}​